{% extends 'main/base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-3 col-6">
        <a href="/search_song">
            <div class="small-box bg-info">
                <div class="inner">
                    <div class="icon">
                        <i class="nav-icon fas fa-music"></i>
                    </div>
                    <p>HTMX Search Bar</p>
                    <h3>Search a song</h3>
                </div>
                <a href="/search_song" class="small-box-footer">View More <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </a>
    </div>
</div>


{% endblock %}